<mtapp:setting id="entry_save_webhook_url_system" label="記事投稿用webhook URL"
    hint="記事投稿用WebhookのURLを設定してください" show_hint=1>
    <input type="text" name="entry_save_webhook_url_system" id="entry_save_webhook_url_system"
        value="<mt:GetVar name="entry_save_webhook_url_system">" />
</mtapp:setting>

<mtapp:setting id="entry_delete_webhook_url_system" label="記事削除用webhook URL"
    hint="記事削除用WebhookのURLを設定してください" show_hint=1>
    <input type="text" name="entry_delete_webhook_url_system" id="entry_delete_webhook_url_system"
        value="<mt:GetVar name="entry_delete_webhook_url_system">" />
</mtapp:setting>

<mtapp:setting id="category_save_webhook_url_system" label="カテゴリ作成・更新webhook URL"
    hint="カテゴリ作成・更新WebhookのURLを設定してください。" show_hint=1>
    <input type="text" name="category_save_webhook_url_system" id="category_save_webhook_url_system"
        value="<mt:GetVar name="category_save_webhook_url_system">" />
</mtapp:setting>

<mtapp:setting id="category_delete_webhook_url_system" label="カテゴリ削除用webhook URL"
    hint="カテゴリ削除用のWebhookのURLを設定してください" show_hint=1>
    <input type="text" name="category_delete_webhook_url_system" id="category_delete_webhook_url_system"
        value="<mt:GetVar name="category_delete_webhook_url_system">" />
</mtapp:setting>

<mtapp:setting id="site_save_webhook_url_system" label="サイト作成・更新webhook URL"
    hint="サイト作成・更新WebhookのURLを設定してください。" show_hint=1>
    <input type="text" name="site_save_webhook_url_system" id="site_save_webhook_url_system"
        value="<mt:GetVar name="site_save_webhook_url_system">" />
</mtapp:setting>

<mtapp:setting id="site_delete_webhook_url_system" label="サイト削除用webhook URL"
    hint="サイト削除用のWebhookのURLを設定してください" show_hint=1>
    <input type="text" name="site_delete_webhook_url_system" id="site_delete_webhook_url_system"
        value="<mt:GetVar name="site_delete_webhook_url_system">" />
</mtapp:setting>

<mtapp:setting id="asset_save_webhook_url_system" label="アセット作成・更新webhook URL"
    hint="アセット作成・更新WebhookのURLを設定してください。" show_hint=1>
    <input type="text" name="asset_save_webhook_url_system" id="asset_save_webhook_url_system"
        value="<mt:GetVar name="asset_save_webhook_url_system">" />
</mtapp:setting>

<mtapp:setting id="asset_delete_webhook_url_system" label="アセット削除用webhook URL"
    hint="アセット削除用のWebhookのURLを設定してください" show_hint=1>
    <input type="text" name="asset_delete_webhook_url_system" id="asset_delete_webhook_url_system"
        value="<mt:GetVar name="asset_delete_webhook_url_system">" />
</mtapp:setting>

<mtapp:setting id="aws_access_key_id_system" label="ACCESS_KEY_ID"
    hint="S3アップロード用のAWS_ACCESS_KEY_IDを設定してください" show_hint=1>
    <input type="text" name="aws_access_key_id_system" id="aws_access_key_id_system"
        value="<mt:GetVar name="aws_access_key_id_system">" />
</mtapp:setting>

<mtapp:setting id="aws_secret_access_key_system" label="SECRET_ACCESS_KEY"
    hint="S3アップロード用のAWS_SECRET_ACCESS_KEYを設定してください" show_hint=1>
    <input type="text" name="aws_secret_access_key_system" id="aws_secret_access_key_system"
        value="<mt:GetVar name="aws_secret_access_key_system">" />
</mtapp:setting>

<mtapp:setting id="aws_region_system" label="Region"
    hint="S3アップロード用のリージョンを設定してください。ex) ap-northeast-1" show_hint=1>
    <input type="text" name="aws_region_system" id="aws_region_system"
        value="<mt:GetVar name="aws_region_system">" />
</mtapp:setting>

<mtapp:setting id="aws_bucket_system" label="Bucket"
    hint="S3のバケット名を設定してください" show_hint=1>
    <input type="text" name="aws_bucket_system" id="aws_bucket_system"
        value="<mt:GetVar name="aws_bucket_system">" />
</mtapp:setting>
